<!DOCTYPE html>
<html lang="en">
  
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Motor Monitor by dz" />
    <meta name="author" content="Deng Zhe" />
    <link rel="icon" href="/static/favicon.ico" />
    
    <title>MyBooks</title>
    
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="/static/css/bootstrap/bootstrap.min.css" crossorigin="anonymous">

  </head>
  
  <body>

  <!-- 顶部导航栏 -->
  <div class="container text-light bg-dark"><div class="row"><div class="col">
    <nav class="navbar navbar-expand-lg navbar-dark">
      <a class="navbar-brand" href="/">Home</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/books">Books</span></a>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div>
    </nav>
  </div></div></div>

  <!-- 文章显示部分 -->
  <div class="container text-light bg-dark" id="book_display">

    <!-- 正文 -->
    <div class="row">
      <h1>{{! current_book_name }}</h1>
    </div>
    <div class="row">
      <div class="col">
        <ul>
          <li v-for="value in book_names">
            <div @click="read_book">{{! value }}</div>
          </li>
        </ul>
      </div>
      <div class="col">
        <ul>
          <li v-for="(value, key) in book_info">
          {{! key }} : {{! value }}
          </li>
        </ul>
      </div>
    </div>
    <div class="row"><div class="col">
      <div v-if="book_chapters.length != 0">
        <p v-for="value in book_chapters[0].value">
          {{! value }}
        </p>
      </div>
    </div></div>
    
    <!-- 页面导航 -->
      <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
          <li class="page-item disabled">
            <a class="page-link" href="#">Previous</a>
          </li>
          <div v-if="book_struct.length != 0">
          <li class="page-item" v-for="(value, index) in book_struct[0]['chapter_names']">
            <a class="page-link" href="#"> {{! value }} </a>
          </li>
          </div>
          <li class="page-item disabled">
            <a class="page-link" href="#">Next</a>
          </li>
        </ul>
      </nav>

  </div>

  <!-- Placed at the end of the document so the pages load faster -->
  <script src="/static/js/jquery/jquery-3.3.1.min.js" crossorigin="anonymous"></script>
  <script src="/static/js/popper/popper.min.js" crossorigin="anonymous"></script>
  <script src="/static/js/bootstrap/bootstrap.min.js" crossorigin="anonymous"></script>
  <script src="/static/js/vue/vue.js"></script>

  <script src="/static/js/books.js"></script>

  </body>
</html>
