<!DOCTYPE html>
<html lang="en">
  
  <head>
    <meta charset="utf-8" />
    <meta name="description" content="Motor Monitor by dz" />
    <meta name="author" content="Deng Zhe" />
    <link rel="icon" href="/static/favicon.ico" />
    
    <title>MyBooks</title>
    
    <!-- Bootstrap core CSS -->
    <link href="/static/css/bootstrap/bootstrap.min.css" rel="stylesheet">
    
    <!-- custom css -->
    <link href="/static/css/custom/cover.css" rel="stylesheet">

  </head>
  
  <body>

<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
  <header class="masthead mb-auto">
    <div class="inner">
      <h3 class="masthead-brand">DengZhe's Home</h3>
      <nav class="nav nav-masthead justify-content-center">
        <a class="nav-link active" href="/index.html">Home</a>
        <a class="nav-link" href="/books">Books</a>
      </nav>
    </div>
  </header>

  <main role="main" class="inner cover">
    <h1 class="cover-heading">Welcome!</h1>
    <p class="lead">This is my web home, with all tools I like.</p>
  </main>

  <footer class="mastfoot mt-auto">
    <div class="inner">
      <p>Contant me: kenboydz@gmail.com</p>
    </div>
  </footer>
</div>

    <!-- Placed at the end of the document so the pages load faster -->
    <!-- <script src="/static/js/jquery/jquery-3.2.1.min.js"></script> -->
    <script src="/static/js/bootstrap/bootstrap.min.js"></script>
    <!-- <script src="/static/js/vue/vue.min.js"></script> -->
    
  </body>
</html>
