<!DOCTYPE html>
<html lang="en">
  
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="Deng Zhe Home Server" />
    <meta name="author" content="Deng Zhe" />
    <link rel="icon" href="/static/favicon.ico" />
    
    <title>MyTest</title>
    
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="/static/css/bootstrap/bootstrap.min.css" crossorigin="anonymous">

  </head>
  
  <body>

    <div class="container text-light bg-dark" id="page_test">

      <div class="row">
        <div class="col">
          <book-display></book-display>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <my-pagination :all="all_page" :current="current_page"></my-pagination>
        </div>
      </div>

    </div>

    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/static/js/jquery/jquery-3.3.1.min.js" crossorigin="anonymous"></script>
    <script src="/static/js/popper/popper.min.js" crossorigin="anonymous"></script>
    <script src="/static/js/bootstrap/bootstrap.min.js" crossorigin="anonymous"></script>
    <script src="/static/js/vue/vue.js"></script>

    <script src="/static/js/tools/vue_templates.js"></script>
    <script src="/static/js/test.js"></script>

  </body>
</html>
